*{
padding: 0;
margin: 0;
}
/* Aqui em baixo mostra a largura e altura do cabeçalho e vh pra ocupar a tela toda */
header{         
    height: 102px;
    width: 980vw;
    background-color: blue;
}

header nav{

}